* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.header {
	text-align: center;
	font-weight: 700;
	font-size: 3em;
	background-color: #BBDEFB;
	color: #fff;
}

p {
	text-align: center;
	font-size: 1.2em;
	color: #81CFE0;
}

.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-flow: row wrap;
	align-content: space-around;
	font-size: 1em;
	width: 45vw;
	margin: 24px auto 0;
}

.timetable {
	width: 3vw;
	border: 1px solid #81CFE0;
	margin: 10px 20px 20px;
	min-width: 280px;
	border-radius: 8px;
}

.weeks {
	font-size: 0.7em;
	line-height: 0.8em;
	height: 34px;
}

.weeks:nth-child(2) .odd{
	position: relative;
	top: -10%;
}

.weeks:nth-child(2) .odd:after{
		display: block;
		content: "";
		height: 1px;
		width: 100%;
		position: relative;
		top: 3px;
		left: 0;
	background-color: #4183D7;
}

.weeks:nth-child(2) .even{
	position: relative;
	top: 8%;
}

td{
	border: 1px solid #4183D7;
	padding: 0 3px;
	border-radius: 5px;
}

td:nth-child(2){
	width: 16%;
	text-align: center;
}

.item{
	margin: 0 0 20px;
}

.lil{
	font-size: 0.5em;
	opacity: .5;
}

@media screen and (max-width: 1024px){
	.wrapper {
		font-size: 1.5em;
		width: 70vw;
		margin: 30px auto;
	}
	.item {
		margin: 0 0 20px;
	}
	.timetable {
		width: 24vw;
		min-width: 350px;
		margin: 10px 0 20px;
	}
}

@media screen and (max-width: 1410px) and (min-width: 1024px){
	.wrapper {
		font-size: 1.5em;
		width: 70vw;
	}
	.timetable {
		width: 270px;
	}
}

@media screen and (max-width: 2120px) and (min-width: 1410px){
	.wrapper {
		font-size: 1.5em;
		width: 90vw;
	}
	.timetable {
		width: 25vw;
		min-width: 390px;
	}
}